/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.home .hero .description
  max-width unset!important

.theme-default-content:not(.custom) img
  max-width 50%!important
